@{
    ViewData["Title"] = "Quote Dictionary";
}

@model List<Quote>

<h1>Famous Quotes</h1>

<ul>
    @foreach (var q in Model)
    {
        <li>@q.QuoteID - @q.QuoteText @q.Author</li>

    }
</ul>
